.my-input.onDefault {
  width: 50%;
}

.my-input.onHover {
  box-shadow: var(--betterplace-shadow-outer-neutral-soft-2);
  width: 50%;
}

.my-input.onFocus {
  outline: 2px solid var(--betterplace-color-green-800);
  outline-offset: 2px; 
  width: 50%;
} 

.my-input.onError {
  outline: 2px solid var(--betterplace-color-red-700);
  width: 50%;
} 

.my-input.onErrorAndFocus {
  outline: 2px solid var(--betterplace-color-red-700);
  border: 2px solid var(--betterplace-color-green-700);
  outline-offset: -6px;
  border-radius: 6px;
  padding-left: 12px;
  width: 50%; 
}